<div md-toolbar ng-cloak ng-controller="NavController as nc">
    <md-content class="md-padding">
        <div class="container">
            <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="nc.currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('/')" name="home">Home Page</md-nav-item>
                <md-nav-item md-nav-click="goto('/career')" name="career">Career Switch</md-nav-item>
                <md-nav-item md-nav-click="goto('/projects')" name="projects">Projects</md-nav-item>
            </md-nav-bar>
        </div>
    </md-content>
</div>